modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5050
externalPort = 3003

[[ports]]
localPort = 5099
externalPort = 8000

[[ports]]
localPort = 10227
externalPort = 3001

[[ports]]
localPort = 11993
externalPort = 3002
exposeLocalhost = true

[[ports]]
localPort = 12895
externalPort = 8099
exposeLocalhost = true

[[ports]]
localPort = 14579
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 14626
externalPort = 4200
exposeLocalhost = true

[[ports]]
localPort = 16335
externalPort = 6800
exposeLocalhost = true

[[ports]]
localPort = 17436
externalPort = 5000
exposeLocalhost = true

[[ports]]
localPort = 21802
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 25082
externalPort = 8080
exposeLocalhost = true

[[ports]]
localPort = 28550
externalPort = 6000
exposeLocalhost = true

[[ports]]
localPort = 62958
externalPort = 8081
exposeLocalhost = true

[[ports]]
localPort = 63809
externalPort = 8008
exposeLocalhost = true

[[ports]]
localPort = 64567
externalPort = 9000
exposeLocalhost = true

[env]
PORT = "5000"

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Test"
mode = "sequential"
author = 55248197

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "VITE_PDF_RENDER_THEORY=0 VITE_PDF_RENDER_IMAGES=0 npm run dev"

[agent]
stack = "MOCKUP_JS"
mockupState = "MOCKUP"
